{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Login </title>
    <link rel="icon" href="{% static 'image/icons8-cloud-ios-17-filled-16.png' %}" type="image/png" />
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>




<body>
    
    <div class="login-container">
        <h1>Login</h1>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_username">Username</label>
                <input type="text" id="id_username" name="username" required>
            </div>
            <div class="form-group">
                <label for="id_password">Password</label>
                <input type="password" id="id_password" name="password" required>
            </div>
            <button type="submit" class="submit-btn">Login</button>
        </form>
        <p class="links">
            <a href="{% url 'account_signup' %}">Create an account</a> <br><br>
            <a href="{% url 'password_reset' %}">Forgot your password?</a>
        </p>
    </div>
</body>
</html>
